@media(min-width:800px)
{
    .register-main-container{
        width: 60%;
    }
}
@media(max-width:800px)
{
    .register-main-container{
        width: 80%;
    }
}

.register-img{
    width: 16px;
    height: 16px;
    margin: auto;
    padding-right:20px; 
}

.register-external-name{
    margin: auto;
}

.register-main-container{
    align-self: center;
    margin: auto;
    padding: 10px;
}

.register-main-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
}

hr{
    opacity: 0.5;
}

.register-external-login-btn{
    margin: auto;
    align-self: auto;
    border: 0px;
    width: 200px;
    padding: 7px;
    margin: 5px;
}

.register-external-login-btn-1{
    background-color: #4267b2;
    color: #fff;
}

.register-external-login-btn-2{
    background-color: #fff;
    border: 1px solid #ccc
}

.register-external-login-btn-3{
    background-color: #100e0f;
    color: #fff;
}
.register-external-login-btn-4{
    background-color: #1da1f2;
    color: #fff;
}
.register-external-login-btn-5{
    background-color: #e9e9e9;
}

.register-btn-collections{
    text-align: center;
}

input{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-info{
    opacity: 0.5;
    font-size: 14px;
}

.register-footer-login-btn{
    margin: auto;
    align-self: auto;
    border: 0px;
    width: 200px;
    padding: 7px;
    margin: 5px;
    color: #fff;
    background-color: #0088cc;
}

.register-footer-register-btn{
    margin: auto;
    align-self: auto;
    border: 0px;
    width: 200px;
    padding: 7px;
    margin: 5px;
    background-color: #ffffff;
}

.register-footer-register-btn{
    opacity: 0.8;
}

.register-text{
    font-size: 16px;
}